/*********************************************/
/*               QWidgets START              */
/*********************************************/

QToolButton
{
   background: white;
   color: black;
}

QToolButton:checked, QToolButton:checked:hover
{
   background: #C6C6C7;
}

QToolButton::menu-button {
    background: white;
}


QToolButton::menu-button:hover {
    background: #EFEFEF;
}

QPushButton
{
    background: white;
    color: black;
}

QPushButton:hover, QToolButton:hover
{
    background: #EFEFEF;
}

QPushButton:disabled, QToolButton:disabled
{
    color: #606162;
}

QLabel
{
    color: black;
}

QLineEdit
{
    color: black;
    background: transparent;
    border-color: #D89000;
}

QListWidget, QListView, QTreeWidget, QTreeView
{
   color: black;
   background: white;
}

QListView::item, QListWidget::item,
QTreeView::item, QTreeView::branch
{
   background: white;
}

QListWidget::item:hover, BlameWidget > QTreeView::item:hover, QListView::item:hover
{
   background:#EFEFEF;
}

QListWidget::item:focus, BlameWidget > QTreeView::item:focus, QListView::item:focus
{
   background: #C6C6C7;
}

QListWidget::item:disabled, QListView::item:disabled
{
    color: #606162;
}

QHeaderView
{
}

QHeaderView:section
{
   color: black;
   background: #C6C6C7;
   border-right-color: #2E2F30;
   border-bottom-color: #2E2F30;
}

QTabWidget::tab-bar
{
   background: #404142;
}

QTabWidget > QTabBar::tab
{
   background: #202122;
   color: black;
}

QTabWidget > QTabBar::tab:selected
{
   background: white;
}

QTabWidget > QTabBar::tab:!selected
{
   background: #C6C6C7;
}

QTabWidget > QTabBar::tab:!selected:hover
{
   background: #606162;
}

QTabWidget > QTabBar::tab:disabled
{
   color: #606162;
}

QToolTip
{
   border-color: #2E2F30;
   background: white;
   color: black;
}

QMenu::item
{
   background: white;
   color: black;
}

QMenu::item:selected
{
   background: #C6C6C7;
   color: #D89000;
}

QMenu::item:disabled
{
   background: #EFEFEF;
   color: #C6C6C7;
}

QMenu::separator
{
   background: #3f4043;
}

QSpinBox
{
    color: black;
    border-color: #D89000;
    background: transparent;
}

QSpinBox::up-button:hover, QSpinBox::down-button:hover
{
    background: #606162;
}

QSpinBox::up-button, QSpinBox::down-button
{
    border-color: #D89000;
}

QComboBox
{
   outline: none;
   color: black;
   border-color: #D89000;
   background: #FFFFFF;
}

QComboBox:disabled {
   color: #E0E0E1;
}

QComboBox:editable {
   background: #ffffff;
}

QComboBox:on {
   background: #2E2F30;
}

QComboBox QAbstractItemView
{
   outline: none;
   border-color: #D89000;
}

QComboBox::drop-down:hover
{
   background: #606162;
}

QScrollArea
{
   background: transparent;
}

QDialog
{
    background: #E6E6E7;
}

QDialog QPushButton:hover
{
   background: #A6A6A7;
}

QDialog QPushButton:pressed
{
   background: #C6C6C7;
}

QMessageBox
{
    background: #E6E6E7;
    color: black;
}

QScrollBar:vertical
{
    border-left-color: #202122;
    background: transparent;
}

QScrollBar:horizontal
{
    border-top-color: #202122;
    background: transparent;
}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal
{
    border-color: #202122;
    background: #A6A6A7;
}

QScrollBar::handle:vertical:hover, QScrollBar::handle:horizontal:hover
{
    background: #808182;
}

QScrollBar::handle:vertical:pressed, QScrollBar::handle:horizontal:pressed
{
    background: #606162;
}

QScrollBar::add-page, QScrollBar::sub-page
{
    background: #E6E6E7;
}

QProgressDialog
{
    background: #404142;
    color: white;
}

QProgressBar
{
    background: #606162;
    border-color: #202122;
}

QProgressBar::chunk
{
    background: #D89000;
}

QSplitter::handle
{
   background: white;
}

/*********************************************/
/*                QWidgets END               */
/*********************************************/


/*********************************************/
/*            Custom Widgets START           */
/*********************************************/

CheckBox, QRadioButton
{
   color: black;
}

#wipInfoFrame
{
   background: #C6C6C7;
   border-color: #2E2F30;
}

#wipSeparator
{
   background: #2E2F30;
}

#separator
{
   background: #606162;
}

#orangeSeparator, #orangeHSeparator
{
   background: #D89000;
}

ClickableFrame::hover
{
   background: #404142;
}

ClickableFrame::pressed
{
   background: #202122;
}

PomodoroButton
{
   background: white;
}

PomodoroButton:hover
{
   background: #EFEFEF;
}

PomodoroButton[checked=true], PomodoroButton[checked=true]:hover, PomodoroButton[checked=false]:hover
{
   background: #C6C6C7;
}

PomodoroButton[checked=false]
{
   background: white;
}

PomodoroButton > QToolButton, PomodoroButton > QToolButton:hover
{
   background: transparent;
}

PomodoroButton > QToolButton#Arrow
{
   background: white;
   padding: 0;
}

PomodoroButton > QToolButton#Arrow:pressed
{
   background: #C6C6C7;
}

PomodoroButton > QToolButton#Arrow:hover
{
   background: #EFEFEF;
}

#SearchInput
{
   border-color: #2E2F30;
   background: white;
   color: black;
}

PullDlg QLabel#lQuestion
{
   color: white;
   font-weight: bold;
}

#warningButton
{
   border-style: solid;
   border-color: #FF5555;
   background: rgba(255, 85, 85, 0.65);
}

#warningButton:hover, #warningButton:pressed
{
   background: rgba(255, 85, 85, 0.85);
}

#applyActionBtn, #cherryPickBtn
{
   border-style: solid;
   border-color: #8DC944;
   background: rgba(141, 201, 68, 0.65);
}

#applyActionBtn:hover, #applyActionBtn:pressed, #cherryPickBtn:hover, #cherryPickBtn:pressed
{
   background: rgba(141, 201, 68, 0.85);
}

/*********************************************/
/*             Custom Widgets END            */
/*********************************************/

/*********************************************/
/*            RepoConfigDlg START            */
/*********************************************/

RepoConfigDlg
{
   background: #E6E6E7;
}

RepoConfigDlg > QTabWidget > QTabBar::tab:!selected
{
   background: #A6A6A7;
}

RepoConfigDlg > QTabWidget > QTabBar::tab:!selected:hover
{
   background: #C6C6C7;
}

RepoConfigDlg QPushButton:hover
{
   background: #A6A6A7;
}

RepoConfigDlg QPushButton:pressed
{
   background: #C6C6C7;
}

/*********************************************/
/*             RepoConfigDlg END             */
/*********************************************/

/*********************************************/
/*            GitQlient class START          */
/*********************************************/

GitQlient
{
   background: #C6C6C7;
}

#MainMenuBtn, #GitQlientTab > QTabBar::tab:first
{
   background: #C6C6C7;
}

#MainMenuBtn:hover, #GitQlientTab > QTabBar::tab:first:selected
{
   background: #606162;
}

InitScreen
{
    background: #C6C6C7;
}

/*********************************************/
/*            GitQlient class END            */
/*********************************************/

/*********************************************/
/*             GitQlientRepo START           */
/*********************************************/

#mainWindow
{
    background: white;
    color: black;
}

/*********************************************/
/*              GitQlientRepo END            */
/*********************************************/

/*********************************************/
/*               Controls START              */
/*********************************************/


/*********************************************/
/*                Controls END               */
/*********************************************/

/*********************************************/
/*             HistoryWidget START           */
/*********************************************/

CommitHistoryView
{
   border-color: #202122;
}

DiffWidget > QPinnableTabWidget > QTabBar::tab:!selected
{
   background: #606162;
}

DiffWidget > QPinnableTabWidget > QTabBar::tab:!selected:hover
{
   background: #808182;
}

DiffWidget > QPinnableTabWidget > QTabBar::tab:selected
{
   background: #C6C6C7;
   border-right: 1px solid #2E2F30;
}

DiffWidget > QPinnableTabWidget > QTabBar::tab:last
{
   border-right: none;
}

#InfoPanel
{
   border-color: #2E2F30;
   background: #C6C6C7;
}

/*********************************************/
/*              HistoryWidget END            */
/*********************************************/

/*********************************************/
/*          CommitChangesWidget START        */
/*********************************************/

CommitChangesWidget, WipWidget, AmendWidget
{
   background: white;
}

#leCommitTitle, #teDescription, #leAuthorName, #leAuthorEmail, #lCounter
{
    background: white;
    color: black;
    border-color: #2E2F30;
}

#leCommitTitle
{
   border-bottom-color: #C6C6C7;
}

#leAuthorName
{
   border-bottom-color: #C6C6C7;
}

#lCounter
{
   border-bottom-color: #C6C6C7;
}

#stagedFilesList, #unstagedFilesList
{
   border-color: #2E2F30;
}

#stagedFilesList
{
   border-top-color: #C6C6C7;
}

/*********************************************/
/*           CommitChangesWidget END         */
/*********************************************/

/*********************************************/
/*            CommitInfoPanel START          */
/*********************************************/

CommitInfoPanel, CommitInfoPanel QScrollArea, #labelDescription
{
   background: #C6C6C7;
}

#labelSha
{
   color: #D89000;
   background: #C6C6C7;
}

/*********************************************/
/*             CommitInfoPanel END           */
/*********************************************/

/*********************************************/
/*           CommitInfoWidget START          */
/*********************************************/

CommitInfoWidget
{
   background: #C6C6C7;
}

/*********************************************/
/*             CommitInfoWidget END          */
/*********************************************/

/*********************************************/
/*              IDiffWidget START            */
/*********************************************/

FileDiffView
{
    background: white;
    color: black;
}

#LineNumberArea
{
   border-right-color: white;
}

FileDiffWidget
{
    background: #C6C6C7;
    border-color: #C6C6C7;
}

FullDiffWidget > QPushButton, FullDiffWidget > QToolButton,
FileDiffWidget > QPushButton, FileDiffWidget > QToolButton
{
   background: transparent;
}

FullDiffWidget > QPushButton:checked, FullDiffWidget > QToolButton:checked,
FileDiffWidget > QPushButton:checked, FileDiffWidget > QToolButton:checked
{
   background: #404142;
}

FullDiffWidget
{
    background: #C6C6C7;
    border-color: #C6C6C7;
}

FullDiffWidget > QPlainTextEdit
{
    background: white;
    color: black;
}

FullDiffWidget > QPlainTextEdit
{
    border-color: #202122
}

/*********************************************/
/*               IDiffWidget END             */
/*********************************************/

/*********************************************/
/*             BranchesWidget START          */
/*********************************************/

BranchesWidget ClickableFrame:hover
{
   background: #C6C6C7;
}

BranchesWidget QListWidget
{
    border-top-color: #606162;
}

#panelsFrame
{
   border-color: #2E2F30;
   background: #606162;
}

#sectionFrame
{
    background: #C6C6C7;
    color: black;
    border-color: #2E2F30;
}

#BranchesWidgetOptionsButton
{
    background: #C6C6C7;
    border-color: #202122;
}

#BranchesWidgetOptionsButton:hover
{
    background: #E6E6E7;
}

/*********************************************/
/*              BranchesWidget END           */
/*********************************************/

/*********************************************/
/*         BranchesWidgetMinimal START       */
/*********************************************/

BranchesWidgetMinimal
{
    background: #C6C6C7;
}

BranchesWidgetMinimal > QPushButton, BranchesWidgetMinimal > QToolButton
{
    background: #C6C6C7;
}

BranchesWidgetMinimal > DiffButton
{
    background: #C6C6C7;
}

/*********************************************/
/*          BranchesWidgetMinimal END        */
/*********************************************/

/*********************************************/
/*              BlameWidget START            */
/*********************************************/

BlameWidget > QTreeView
{
    background: white;
    border-color: #2E2F30;
}

BlameWidget > QTabWidget, BlameWidget > QTabWidget:pane
{
    background: #C6C6C7;
    border: 0;
}

BlameWidget > QTabWidget > QTabBar::tab:!selected
{
   background: #606162;
}

BlameWidget > QTabWidget > QTabBar::tab:!selected:hover
{
   background: #808182;
}

BlameWidget > QTabWidget > QTabBar::tab:selected
{
   background: #C6C6C7;
   border-right: 1px solid #2E2F30;
}

BlameWidget > QTabWidget > QTabBar::tab:last
{
   border-right: none;
}

BlameWidget > QTabWidget, BlameWidget > QTabWidget:pane
{
    background: white;
    border: 0;
}

FileBlameWidget
{
    background: #C6C6C7;
}

#normalLabel
{
    background: white;
}

#AnnotationFrame
{
   background: #C6C6C7;
}

QLabel#numberLabel
{
    border-right-color: #202122;
    background: #C6C6C7;
}

QLabel#authorFirstOfItsName, ButtonLink#firstOfItsName
{
    border-top-color: #606162;
    background: #C6C6C7;
}

/*********************************************/
/*               BlameWidget END             */
/*********************************************/

/*********************************************/
/*              MergeWidget START            */
/*********************************************/

MergeWidget > QPinnableTabWidget
{
    background: #404142;
}

#DiffButtonsFrame
{
   background: #404142;
}

#FilesListTitle
{
    color: white;
    background: #202122;
}

/*********************************************/
/*               MergeWidget END             */
/*********************************************/

/*********************************************/
/*          AGitServerItemList START         */
/*********************************************/

AGitServerItemList
{
   border-color: #2E2F30;
}

#IssuesHeaderFrame, #IssuesHeaderFrameBig
{
   background-color: #C6C6C7;
}

#IssuesHeaderFrameBig
{
   border-bottom-color: #2E2F30;
}

#IssuesScroll, #IssuesWidget
{
   background-color: white;
   border-top-color: #2E2F30;
}

#IssuesScroll
{
   border-top-color: #2E2F30;
}

/*********************************************/
/*           AGitServerItemList END          */
/*********************************************/

/*********************************************/
/*              IssueItem START              */
/*********************************************/

IssueItem
{
   background-color: white;
}

/*********************************************/
/*               IssueItem END               */
/*********************************************/

/*********************************************/
/*           PrCommentsList START            */
/*********************************************/

PrCommentsList, PrCommentsList QScrollArea
{
   background: white;
}

#IssuesViewFrame
{
   background: white;
}

#IssueDescription
{
   background: #C6C6C7;
}

#IssueIntro
{
   background: #C6C6C7;
}

#IssueIntroApproved
{
   background: #729943;
}

#IssueIntroChangesRequested
{
   background: #D89000;
}

#IssueIntroCommented
{
   background: #606162;
}

#CodeReviewComment
{
   background-color: white;
}

#OutdatedLabel
{
   background: white;
   color: black;
}

#AddReviewInput
{
   background: white;
   border-color: #2E2F30;
}

SourceCodeReview QLabel
{
   background: white;
   border-bottom-color: #D89000;
}

/*********************************************/
/*            PrCommentsList END             */
/*********************************************/

/*********************************************/
/*          IssueDetailedView START          */
/*********************************************/

IssueDetailedView
{
   border-color: #2E2F30;
}

IssueDetailedView QTextEdit
{
   background: transparent;
   color: black;
}

#IssuesFooterFrame
{
   border-bottom: 0;
   background-color: white;
}

QToolButton#ViewBtnOption, QPushButton#ViewBtnOption, QToolButton#ViewBtnOption::menu-button
{
    background-color: #404142;
    color: white;
}
QToolButton#ViewBtnOption:checked, QToolButton#ViewBtnOption:checked:hover
{
   background-color: white;
   border-color: #2E2F30;
}

QPushButton#ViewBtnOption:hover,
QToolButton#ViewBtnOption:!checked:hover,
QToolButton#ViewBtnOption::menu-button:hover
{
   background-color: #606162;
}

/*********************************************/
/*           IssueDetailedView END           */
/*********************************************/

/*********************************************/
/*            PrChangesList START            */
/*********************************************/

PrChangesList FileDiffView
{
   background: #C6C6C7;
}

#PrChangeListItem
{
   background: transparent;
}

#ChangeHeaderFrame
{
   background: #202122;
}

#teComment
{
   color: white;
   background: #606162;
   border-color: #202122;
}

/*********************************************/
/*             PrChangesList END             */
/*********************************************/

#JobContainer
{
   background: #2E2F30;
}

#JobContainerHeader
{
    background: #202122;
    border: none;
}

#JobButton:hover
{
    background: #606162;
}

#JenkinsWidgetTabButton:!checked
{
    background: #202122;
}

#JenkinsWidgetTabButton:!checked:hover
{
    background: #505152;
}

#JenkinsWidgetTabButton:checked
{
    background: #2E2F30;
}

JobContainer, #JenkinsJobPanel, #JobPanelTabWidget, JenkinsJobPanel#JenkinsJobPanel > QTabWidget > QScrollBar
{
    background: #2E2F30;
}

#JenkinsJobPanelTitle
{
    background: #202122;
    padding: 10px;
    qproperty-alignment: AlignCenter;
    font-weight: bold;
    font-size: 16pt;
}

#JobContainerHeader
{
    padding-left: 10px;
}

#JenkinsOutput
{
    background: #404142;
    color: white;
}

#TransparentScrollArea
{
   background: transparent;
}

