Source: unioncode
Section: libdevel
Priority: optional
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends:
 cmake,
 qt5-qmake,
 qtbase5-dev,
 qttools5-dev-tools,
 libssl-dev,
 libqtermwidget5-0-dev,
 libutf8proc-dev
Standards-Version: 0.0.1
Homepage: http://www.deepin.org

Package: unioncode
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: deepen code IDE

Package: libunioncode-dev
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: deepen code IDE dev library
