[Desktop Entry]
Actions=new-empty-window;
Categories=Utility;TextEditor;Development;IDE;
Comment=Code Editing. Redefined.
Exec=/usr/bin/deepin-unioncode
GenericName=Text Editor
Icon=/usr/share/deepin-unioncode/configures/icons/deepin-unioncode.png
Keywords=deepin-unioncode;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Name=Deepin Union Code
Path=/usr/bin
StartupNotify=false
StartupWMClass=Code
Type=Application
X-Deepin-Vendor=user-custom
